<div class="panel panel-default">
  <div class="panel panel-heading">
    Create Your Place
  </div>
  <div class="panel-body">
    <div class="container">
      <%= form_for @room do |f| %>
        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Home Type</label> <!--["A","A"] first one is Key, secound one is Value!-->
              <%= f.select :home_type , [["Apratment","Apratment"],["House","House"],["B&B","B&B"]],id: "home_type",
              prompt: "Choose..", class: "form-control"%>
            </div>            
          </div>
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Room Type</label>
              <%= f.select :room_type , [["Entire","Entire"],["Private","Private"],["Shared","Shared"]],
              prompt: "Choose..", class: "form-control"%>  
            </div>  
          </div>
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Accomodation</label>
              <%= f.select :accommodation , [["1",1],["2",2],["3",3],["4",4],["5",5],["6 or more",6]],
              prompt: "Choose..", class: "form-control"%> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Bedroom</label>
              <%= f.select :bed_room , [["1",1],["2",2],["3",3],["4 or more",4]],
              prompt: "Choose..", class: "form-control"%> 
            </div>
          </div>
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Bahtroom</label>
              <%= f.select :bath_room , [["1",1],["2",2],["3",3],["4 or more",4]],
              prompt: "Choose..", class: "form-control"%> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>Listing Name</label>
            <%= f.text_field :listing_name, class: "form-control", placeholder: "Add listing Name" %>
          </div>  
        </div>
        <div class="row">
          <div class="form-group">
            <label>Summary</label>
            <%= f.text_area :summary , rows: 5, class: "form-control", placeholder: "Tell us about this place" %>
          </div>  
        </div>
        <div class="row">
          <div class="form-group">
            <label>Address</label>
            <%= f.text_area :address, class: "form-control", placeholder: "Add the address" %>
          </div>  
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f. check_box :is_tv%> TV  
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f. check_box :is_kitchen%> Kitchen  
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f. check_box :is_air%> Air Conditioner
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f. check_box :is_heating%> Heater 
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f. check_box :is_internet%> Internet  
            </div>
          </div>   
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Listinf Price</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <%= f.text_field :pricing ,class: "form-control", placeholder:"place amount "%>
                <div class="input-group-addon">.00</div>
              </div>
            </div>  
          </div>          
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f. check_box :active%> Active  
            </div>
          </div>  
        </div>
        <div class="actions">
          <%= f.submit "Save", class: "btn btn-primary" %>  
        </div>
      <% end %>
    </div>
  </div>
</div>